body {
    margin: 0;
    padding: 0;
    color: #1a1a1a;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.6em;
    background: #757f9a;
    background: -webkit-linear-gradient(to left, #d7dde8, #757f9a);
    background: linear-gradient(to left, #d7dde8, #757f9a);
}
section {
    background-color: whitesmoke;
    color: black;
}

header {
    background-image: url('../images/pattern.jpg');
    color: #fff;
    text-align: center;
    padding: 20px 0;
    border-bottom: 2px solid #fff;
    overflow: auto;
}

.mark-img {
    border-radius: 50%;
    width: 150px; 
    height: 150px;
}

header h1 {
    margin: 0;
    margin-top: 20px;
}


h2 {
    text-align: center;
    border-radius: 5px;
}

iframe {
    border: none;
}

nav ul {
    list-style: none;
    padding: 0;
    background-color: #615f5f;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    background-color: #444;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;
}

#interests ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

#interests li {
    border: 2px solid #333;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}



.image-container {
    display: inline-block;
    margin: 15px;
    max-width: 150px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

p.bold-text {
    font-weight: bold;
}

section h2 {
    background-color: gray;
    padding: 10px;
    color: white;
}

section {
    border: 2px dashed #333;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

section#works li a, #rest_countries {
    display: block;
    padding: 10px 0;
    background-color: #d3d3d3;
    color: #000000;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
    width: 100%;
}

section#works li a:hover, 
#rest_countries:hover {
    background-color: #555;
}

div {
    margin: 20px;
}

form {
    background-color: #f5f5f5;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button[type="comment"] {
    background-color: #555;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="comment"]:hover {
    background-color: #333;
}

/*Testimonials*/
#content {
  max-width: 600px;
  margin: 25vh auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

#content h1 {
    text-align: center;
    color: whitesmoke;
    font-weight: bolder;
    border-bottom: 2px solid whitesmoke;
    padding: 5px;
    margin: 30px;
}

.testimonial blockquote {
  margin: 10px 10px 0;
  background: #efefef;
  padding: 20px 60px;
  position: relative;
  border: none;
  border-radius: 8px;
  font-style: italic;
}

.testimonial blockquote:before,
.testimonial blockquote:after {
  content: "\201C";
  position: absolute;
  font-size: 80px;
  line-height: 1;
  color: #757f9a;
  font-style: normal;
}

.testimonial blockquote:before {
  top: 0;
  left: 10px;
}

.testimonial blockquote:after {
  content: "\201D";
  right: 10px;
  bottom: -0.5em;
}

.right-triangle-container {
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #efefef;
  margin: 0 0 0 60px;
}

.testimonial p {
  margin: 8px 0 0 20px;
  text-align: left;
  color: #fff;
}

li.github a {
    background-color: #00FF00 !important;
    transition: background-color 0.3s;
  }
  
  li.github a:hover {
    background-color: #009900 !important;
  }