body {
  font-family: Arial, sans-serif;
  margin: 20px;
  border: 2px solid black;
  padding: 10px;
}

#search_container {
  margin-bottom: 20px;
}

button, #back_button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4a4848;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover, 
#back_button:hover {
  background-color: #212121;
}

a {
  text-decoration: none;
  color: inherit;
}

#results_container {
  display: flex;
  flex-wrap: wrap;
}

.countryCard {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  width: 100%;
}

.regionTitle {
  font-weight: bold;
  margin-top: 10px;
  width: 100%;
}
